<div>
  <h3>Api List:</h3>
  <ul class="list-group apis">
        <li *ngFor = "let api of apis" class="list-group-item">
         Name: {{api.name}}, Email: {{api.email}}
        </li>
  </ul>
  
</div>