<jce-spinner [visible] = 'isLoading'> </jce-spinner>
<div>
  <h3>Customers List:</h3>
  <ul class="list-group customers">
        <li *ngFor = "let customer of customers" class="list-group-item" 
         [class.active]="cuurentCustomer== customer"
          (click)="select(customer)">
        <jce-customer [customer] = customer (deleteEvent)="deleteCustomer($event)"></jce-customer> 
        </li>
  </ul>
</div>