<h2>Add Invoices</h2>
<form name= "form" (ngSubmit) = "onSubmit(f)" #f= "ngForm">
  <div class="form-group">
    <label for="productname">Product Name</label>
    <input type="text"
            class="form-control"
            id="productname"
            name= "productname"
            ng-model="productname"
            [(ngModel)]= "invoice.name" 
            required>

        
  </div>
  <div class="form-group">
    <label for="amount">Amount</label>
    <input type="text"
            class="form-control"
            id="amount"
            name="amount"
            value="1000"
            [(ngModel)]= "invoice.amount" >  

  </div>
  <button type="submit" class="btn btn-primary" >Save Invoice</button>
</form>