<jce-spinner [visible] = 'isLoading'> </jce-spinner>
<div>
  <h3> Invoices list </h3>
  <ul class = "list-group invoices">
    <li *ngFor = "let invoice of invoices"
    [class.active]="cuurentInvoice== invoice"
    (click)="select(invoice)"
    class="list-group-item">
 <jce-invoice [invoice] = invoice ></jce-invoice> 
      
    </li>
  </ul>
</div>  

