<div>
  <h3>Products list:</h3>
  <ul class = "list-group products">
        <li *ngFor = "let product of products" class="list-group-item">
            Name: {{product.pname}},  Id: {{product.pid}}, Cost: {{product.cost}}, Category ID: {{product.categoryId}}
             <jce-product [product] = "product" (deleteEvent)="deleteProduct($event)"></jce-product>         
        </li>
  </ul>
</div>

<div>
  <h3>Products list:</h3>
  <ul class = "list-group products">
        <li *ngFor = "let product of products" class="list-group-item" >
            Name: {{product.pname}},  Id: {{product.pid}}, Cost: {{product.cost}}, Category ID: {{product.categoryId}}
             <jce-product [product] = "product" (deleteEvent)="deleteProduct($event)"></jce-product>         
  <ul>
        <li *ngFor = "let name of product.produtCat">
           {{(name | async)?.cname}}
          </li>
  </ul>
   </li>
   </ul>
</div>


<div>
  <h3>Products table:</h3>
   <table class="table-bordered" style="width:45%">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Cost</th>
          <th>Category Id</th>
          <th>Delete Button</th>
        </tr>
      
        <tr  *ngFor = "let product of products" >
           <td> {{product.pid}} </td>
           <td> {{product.pname}} </td> 
           <td> {{product.cost}} </td>
           <td> {{product.categoryId}} </td>  
           <td> <jce-product [product] = "product" (deleteEvent)="deleteProduct($event)"></jce-product> </td>       
     </tr>
  </table>
</div>

<div>
  <h3>Products table:</h3>
   <table class="table-bordered" style="width:45%">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Cost</th>
          <th>Category Name</th>
        </tr>
      
        <tr  *ngFor = "let product of products" >
           <td> {{product.pid}} </td>
           <td> {{product.pname}} </td> 
           <td> {{product.cost}} </td>
           <td *ngFor = "let name of product.produtCat"> {{(name | async)?.cname}}</td>       
     </tr>
  </table>
</div>
