<div>
  <h3> Posts list from HTTP </h3>
   <ul class= "list-group posts">
        <li class="list-group-item" *ngFor = "let post of posts" >
      Title: {{post.title}}, Body: {{post.body}}
      </li>
   </ul>
 </div>
