    

    <span *ngIf = "customer.age>64" class="newclass" style="background-color: yellow">Name: {{customer.name}}, Age: {{customer.age}}</span>
    <span *ngIf = "customer.age<65">Name: {{customer.name}}, Age: {{customer.age}}</span>
    
        <button  (click)="sendDelete()"> Delete</button>
